
Yi_No_Data_April4_UnicodeProblem.csv
.ipynb_checkpoints/viewdata-checkpoint.ipynb
.ipynb_checkpoints/manifold-checkpoint.py
.ipynb_checkpoints/manifold_Learning-checkpoint.ipynb
.ipynb_checkpoints/r_pca-checkpoint.py
